body{
    margin: 100px;
    padding: 5px;
    background-color: rgb(196, 224, 235);
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Libre Caslon Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{

    color: rgb(201, 17, 17);
}
.Título{
    color: rgb(19, 17, 177, 0.582);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.Texto1{
    color:rgb(31, 199, 73);
    text-align: center;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 100%;
    background-color :beige;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 25px;
}

label{
    display: block;
    margin: 20px;
    font-weight: bolder;
}
