*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 224, 235);
    color: rgb(0, 0, 0);
    font-family: "Libre Caslon Condensed", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

button{

    color: rgb(201, 17, 17);
}

.container{
    width: 100%;
    max-width: 600px;
    background-color :beige;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 25px;
}

h1{
    color: rgb(34, 204, 247);
    text-align: center;
    font-family: "Isometra", serif;
    font-weight: 400;
    font-style: normal;

}

p{
    color:rgb(193, 31, 199);
    text-align: center;
    font-family: "Edu QLD Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

label{
    display: block;
    margin: 20px;
    font-weight: bolder;
}
